
<!DOCTYPE html>
<html>
	<head>
		<title>ToDo List</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>ToDo List</h1>
		<h2>Your list is empty, lets add some items...</h2>
		<form method="post" action="/">
			Item:
			<input type="text" name="item" />
			Qty:
			<input type="text" name="qty" />
			<input type="submit" value="Add Item" />
		</form>
	</body>
</html>
