
<mat-sidenav-container class="example-container">

    <mat-sidenav class="example-sidenav"  *ngIf="triggerNavigation == 'header'"  mode="side" opened>

        <apr-sidenav  class="textCentered"></apr-sidenav>

    </mat-sidenav>
    <mat-sidenav-content class=" bg-grey "  >

  <apr-navbar  *ngIf="triggerNavigation == 'topbar'"  class="navbar navbar-light bg-dark" id="navbar"></apr-navbar>

      <object [ngClass]="{'contentFixPaddiTopOnNav': true }" >

        <!-- <apr-about ></apr-about>
        <apr-experience></apr-experience>
        <apr-education ></apr-education>
        <apr-skills></apr-skills> -->
        <router-outlet class=" p-5 m-5"  ></router-outlet>
      </object>

    </mat-sidenav-content>
  </mat-sidenav-container>
