<mat-sidenav-container class="example-container" >

    <mat-sidenav class="example-sidenav" *ngIf="triggerNavigation == 'header'"  mode="side" opened>

        <apr-sidenav  class="textCentered"></apr-sidenav>

    </mat-sidenav>
    <mat-sidenav-content class=" bg-grey">

      <apr-navbar class="navbar navbar-light bg-dark contentFixPaddiTopOnNav" *ngIf="triggerNavigation == 'topbar' "  id="navbar"></apr-navbar>

      <object >

        <!-- <apr-about ></apr-about>
        <apr-experience></apr-experience> -->
        <apr-education></apr-education>

      </object>

    </mat-sidenav-content>
  </mat-sidenav-container>
