<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto">
    <h1 class="mb-0 .text-muted">{{aboutData.name[0]}}
      <span class="text-primary">{{aboutData.name[1]}}</span>
    </h1>

    <div class="subheading mb-8 ">

      <button style="width: 30%;height: 10%;" type="button" class="btn btn-info text-left" data-toggle="collapse"
        data-target=".clickable">
        {{aboutData.addressTitle[0]}}</button>

      <button style="width: 30%;height: 10%;" type="button" class="btn btn-success text-left" data-toggle="collapse"
        data-target=".clickable2">
        {{aboutData.addressTitle[1]}}</button>

      <div class="subheading mb-8 collapse clickable">
        <span class="fa fa-map-marker"></span>
        {{aboutData.address[0]}}
      </div>

      <div class="subheading mb-8 collapse clickable2">
        <span class="fa fa-map-marker"></span>
        {{aboutData.address[1]}}
      </div>

      <p>
        <span class="fa fa-phone"></span>
        {{aboutData.contact[0]}} <br>
        <span class="fa fa-envelope"></span>
        <a class="text-dark" href="mailto:{{aboutData.contact[1]}}">
          {{aboutData.contact[1]}}
        </a>
      </p>

    </div>
    <br>
    <p class="mb-2">Welcome to my Web-Portfolio</p>


    <ul class="list-inline list-social-icons ">

      <li class="list-inline-item">
        <a target="_blank" href="https://www.messenger.com/t/jokass.maia">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://www.instagram.com/jokassmaia/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://www.linkedin.com/in/joao-maia/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://github.com/vunf1/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li class="list-inline-item exc">
        <a target="_blank" href="https://github.coventry.ac.uk/deoiveij/">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

    </ul>



    <br>
    <div class="subheading mb-2" style="color: darkblue">{{aboutData.softSkills[0]}}</div>
    <br>
    <ul class="fa-ul mb-0" style="color: green;">
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[1]}}</span>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[2]}}</span>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[3]}}</span>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[4]}}</span>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[5]}}</span>
      </li>
      <li>
        <i class="fa-li fa fa-check"></i>
        <span style="color: black;">{{aboutData.softSkills[6]}}</span>
      </li>
    </ul>

  </div>

</section>
