@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contentFixPaddiTopOnNav{padding-top: 10%!important;}
.NocontentFixPaddiTopOnNav{margin-top: 0%!important;}
.text-inside-grid-center {
  text-align: center;
}
.text-inside-grid-right {
  text-align: right;
}
.text-inside-grid-left {
  text-align: left;
}
.text-inside-grid-justify{
  text-align: justify;
}
