@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



body {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contentFixPaddiTopOnNav{margin-top: 5%!important;}
.NocontentFixPaddiTopOnNav{margin-top: 0%!important;}
