<!-- ![ENGLISH]!  -->
<!--
<header class="bg-dark border-none" id="sidebar-wrapper">
  <h3 class="sidebar-heading bg-gradient-dark text-white">{{keyValue.me[0]}} </h3>
  <ul class="list-group list-group-flush">
    <a (click)="request({{keyValue.about[1]}})" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.about[0]}}</a>
    <a (click)="request({{keyValue.experience[1]}})" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.experience[0]}}</a>
    <a href="{{keyValue.education[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.education[0]}}</a>
    <a href="{{keyValue.skills[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.skills[0]}}</a>
    <a href="{{keyValue.interests[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.interests[0]}}</a>
    <a href="{{keyValue.certifications[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.certifications[0]}}</a>
    <a href="{{keyValue.projects[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.projects[0]}}</a>
  </ul>
</header> -->

<!-- 
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav> -->

