<!-- ![ENGLISH]!  -->

<header class="bg-dark border-none" id="sidebar-wrapper">
  <h3 class="sidebar-heading bg-gradient-dark text-white">Joao Maia</h3>
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action bg-secondary text-white">
      JJJJJ</a>
  </ul>
  </header>

<!--
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav> -->

