mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  width: 100%;
  overflow: auto;
  outline: 0;
}

mat-sidenav {
  height: 10%;
}

main {
    padding: 10px;
}
#page-content-wrapper{
  overflow:hidden;
  overflow-y: hidden !important
}
