<!-- ![ENGLISH]!  -->
<div class="bg-dark border-none" id="sidebar-wrapper">
  <div class="sidebar-heading bg-gradient-dark text-white">{{keyValue.me[0]}} </div>
  <div class="list-group list-group-flush">
    <a href="{{keyValue.about[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.about[0]}}</a>
    <a href="{{keyValue.experience[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.experience[0]}}</a>
    <a href="{{keyValue.education[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.education[0]}}</a>
    <a href="{{keyValue.skills[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.skills[0]}}</a>
    <a href="{{keyValue.interests[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.interests[0]}}</a>
    <a href="{{keyValue.certifications[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.certifications[0]}}</a>
    <a href="{{keyValue.projects[1]}}" class="list-group-item list-group-item-action bg-secondary text-white">
      {{keyValue.projects[0]}}</a>
  </div>
</div>
