.footer{
  position: absolute;
      bottom: 0px;
      left: 0;
}
.contMid{

  margin: 60% auto;
  vertical-align: middle;
}
.textCentered{
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
