<ng-container  >
  <mat-toolbar class="textCentered" >
    <!-- SideNav Header  Block -->
    <h3 class="bg-gradient-dark text-secondary">Joao Maia</h3>
  </mat-toolbar>
  <mat-sidenav-container class="contMid" >
    <mat-list  *ngFor="let title of navTitlesList">

      <!-- SideNav Body  Block -->
      <a routerLink="/{{title}}" routerLinkActive="active">
        {{ title.charAt(0).toUpperCase() + title.substr(1).toLowerCase() }}
      </a>
    </mat-list>
  </mat-sidenav-container>

  <mat-toolbar class="footer">
    <!-- SideNav Footer  Block -->
    <p style="font-size: 15px;" class="footer lead"><i id="desigTXT">Designed by: </i><a id="copyrights" target="_blank" href="https://vunf1.coventry.domains"><strong>Myself </strong></a></p>
  </mat-toolbar>
</ng-container>
