<!-- <section class="d-flex d-print-none">
  <section>
  <apr-sidebar></apr-sidebar>

  <aside class="container">
    <apr-about></apr-about>
    <apr-experience></apr-experience>
  </aside>


</section> -->
<div class="parent-container d-flex">
    <div class="container">
        <div class="row">
            <div class="col">
                <apr-sidebar></apr-sidebar>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <apr-about></apr-about>
                <apr-experience></apr-experience>
            </div>
        </div>
    </div>
</div>
