    <a target="_blank"  href="https://www.linkedin.com/in/joao-maia/">
      <span class="fa-stack fa-lg">
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
    </a>

    <a aria-controls="navbarContent" [attr.aria-expanded]="!collapsed" (click)="collapsed = !collapsed">
      <mat-icon>menu</mat-icon>
    </a>

    <section class="navbar-collapse bg-secondary " [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ml-auto text-inside-grid-right">
        <object ngbDropdown *ngFor="let title of navTitlesList">

          <a class="btn" routerLink="/{{title}}" routerLinkActive="active" id="{{title}}" role="button">
            {{ title.charAt(0).toUpperCase() + title.substr(1).toLowerCase() }}
          </a>
          <br>
          <!-- ngbDropdownToggle before this to trigger menu elements 'sections'
      <aside ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
        <a class="dropdown-item" href="#" (click)="$event.preventDefault()">{{title}}</a>
      </aside> -->

        </object>

      </ul>

    </section>
