<section class=" p-3">
  <h2 (click)="triggerDiv('experience')" id='experienceTitle'>
    <mat-icon>eject</mat-icon> {{componentTitle}}
  </h2>
  <article id="experience">

    <!-- <mat-accordion *ngFor="let data of jobsElement" [style.background]="data.color">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        [style.background]="data.color">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{data.jobTitle[0]}}
          </mat-panel-title>
          <mat-panel-description>
            {{data.date[0]}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="5:2">

          <mat-grid-tile layout-align="end start" [colspan]="data.description[1]" [rowspan]="data.description[2]">
            {{data.description[0]}}
          </mat-grid-tile>

          <mat-grid-tile [colspan]="data.jobLocal[1]" [rowspan]="data.jobLocal[2]">
            {{data.jobLocal[0]}}
          </mat-grid-tile>

        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion> -->
    <ngb-accordion *ngFor="let data of jobsElement" #a="ngbAccordion" activeIds="custom-panel-1" id="accordionTotal">
      <ngb-panel  id="{{data.id}}">
        <ng-template ngbPanelHeader let-opened="opened">
            <header class="d-flex align-items-center justify-content-between border-0">
              
              <button ngbPanelToggle class="btn border-0 container-fluid text-right titleAccord ">
                {{data.jobTitle}}<br>{{data.jobLocal}}
                <h3  class="btn border-0 float-right " >
                  {{ data.date}}</h3>
              </button>
              
            </header>
        </ng-template>
        <ng-template ngbPanelContent>
          {{data.description}}
        </ng-template>
        
      </ngb-panel>
    </ngb-accordion>
  </article>

</section>
<!-- 
<ngb-panel>
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0">Second panel</h5>
        <div>
          <button ngbPanelToggle class="btn btn-sm btn-outline-primary ml-2">Toggle second</button>
          <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="disabled = !disabled">
            {{ disabled ? 'En' : 'Dis' }}able third
          </button>
          <button type="button" class="btn btn-sm btn-outline-danger ml-2" (click)="a.collapseAll()">Collapse all</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel [disabled]="disabled">
    <ng-template ngbPanelHeader>
      <div class="d-flex align-items-center justify-content-between">
        <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">Third panel</button>
        <p *ngIf="disabled" class="text-muted m-0 small">[I'm&nbsp;disabled]</p>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel> -->