<div fxLayoutAlign="space-around center" aprFileDrop class="file-input" (click)="file.click();"
  (filesDropped)="filesDropped($event)" (fileAccepted)="fileAccepted($event)" (fileRejected)="fileRejected($event)"
  [allowMultiple]="allowMultiple" [supportedFileTypes]="fileValidationService.supportedFileTypes">
  <ng-container *ngIf="!selectedFiles || selectedFiles.length === 0">
    <div fxLayout="row">
      <mat-icon>file_download</mat-icon>
      Drop file here or click to browse...
    </div>
  </ng-container>

  <span class="selected-filename">
    <div *ngFor="let file of selectedFiles, let index">
      {{ file.name }}
      <button (click)="removeFile(index); $event.stopPropagation(); $event.preventDefault()" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </span>

  <input hidden #file type="file" multiple (change)="onFileChange($event)" />
</div>
